<p>List of users</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <th scope="row">{{u.id}}</th>
      <td>{{u.firstName}}</td>
      <td>{{u.lastName}}</td>
      <td>{{u.email}}</td>
      <td>
        <app-rating
           [targetScore]=u.score
           (ratingClicked)="onClickedFromRating($event)"
           ></app-rating>
      </td>
    </tr>
  </tbody>
</table>

{{result}}
